@using Microsoft.AspNetCore.Identity
@using DirectSales04.Areas.Identity.Data


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admins"))
{
    <div class="dropdown">
        <a class="btn nav-link dropdown-toggle" id="dropdownAdmin" data-bs-toggle="dropdown">
            Admin
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" type="button"  asp-controller="user" asp-action="index">
                    Users
                </a>
                <a class="dropdown-item" type="button"  asp-controller="products" asp-action="index">
                    Products
                </a>
                <a class="dropdown-item" type="button"  asp-controller="category" asp-action="index">
                    Categories
                </a>
            </li>
        </ul>
    </div>

}
